.navbar-static-top .dropdown-menu {
  padding: 0px;
}

.navbar-static-top .dropdown-menu li a {
  border-bottom: 1px solid #d8d8d8;
  line-height: 2.4;
}

.navbar-static-top .dropdown-menu li a .glyphicon {
  margin-right: 8px;
}

/* User register page */

.register-page img.captcha {
  margin-bottom: 0px;
  margin-top: 10px;
  cursor: pointer;
}

/* User profile page */

.users-show-page .user-info .thumbnail {
  margin-bottom: 0px;
}

.users-show-page .nav-tabs {
  margin-bottom: 20px;
}

.users-show-page .nav-tabs > li.active > a {
  background-color: #fff;
}

.users-show-page .list-group .list-group-item {
  border: none;
  margin-bottom: 0px;
  border-bottom: 1px solid #efefef;
}

.users-show-page .list-group .list-group-item .meta {
  color: #b3b3b3;
}

.users-show-page .pagination {
  margin: 12px 0;
}

/* Topic Index Page */

.topics-index-page .categories-show-page .topic-list .nav > li > a {
  position: relative;
  display: block;
  padding: 5px 14px;
  font-size: 0.9em;
}

.topics-index-page .categories-show-page .topic-list a {
  color: #444444;
}

.topics-index-page .categories-show-page .topic-list .meta {
  font-size: 0.9em;
  color: #b3b3b3;
}

.topics-index-page .categories-show-page .topic-list .meta a {
  color: #b3b3b3;
}

.topics-index-page .categories-show-page .topic-list .badge {
  background-color: #d8d8d8;
}

.topics-index-page .categories-show-page .topic-list hr {
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  border-top: 1px solid #dcebf5;
}

